.animated-input
	transition: 0.3s transform
	transform: scale(0)
	visibility: hidden
	overflow: hidden

.visible-input
	visibility: visible
	overflow: visible
	width: 13rem
	transform: scale(1)

.select-wrapper
	gap: 6px

	&>div
		flex: 1